<div class="breadcrumb-container">
  <nav class="custom-breadcrumb">
    <span 
      *ngFor="let item of items; let i = index; let last = last" 
      class="breadcrumb-group"
    >
      <a 
        [class]="'breadcrumb-link ' + (last ? 'active' : '')"
        href="#"
        (click)="$event.preventDefault()"
      >
        {{ item.label }}
      </a>
      <span *ngIf="!last" class="breadcrumb-separator">
        <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <polyline points="9,18 15,12 9,6"></polyline>
        </svg>
      </span>
    </span>
  </nav>
</div>